.outerContainer{
    width: 50%;
    margin: 3rem auto;
    padding: 3rem 0rem;
}
.contentContainer{
    margin: 2.15rem auto;
    padding: 3rem 0rem;
    text-align: center;
}
.titleContainer{
    padding: 3rem 0rem;
    color: #ff1749;
    font-size: 1.5rem;
    font-weight: 700;
}