.outerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ff1749;
    border-radius: 12px;
    padding: 10px;
}
.imageContainer{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carouselContainer{
    width: 90%;
}