.outerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .5rem;
    padding: .5rem;
}
.linkContainer{
    text-decoration: none;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageContainer{
    border-radius: 50%;
}
.labelContainer{
    font-size: .875rem;
    font-weight: 700;
}
.linkContainer:hover, .imageContainer:hover, .labelContainer:hover{
    cursor: pointer;
    color: #ff1749;
}