.outerConatiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #c5c5c5;
    border-radius: .5rem;
    margin: .5rem;
    padding: .5rem;
}
.labelConatiner{
    text-align: right;
    color: red;
    font-weight: bold;
    margin: 1rem 0rem;
}
.contentConatiner{
    margin: 1rem;
    color: green;
    font-weight: bold;
}