.labelContainer{
    display: inline-block;
    width: 45%;
    margin: 1rem;
    color: green;
    font-weight: bold;
}
.spanContainer{
    width: 45%;
    text-align: left;
    display: inline-block;
    color: red;
    font-weight: bold;
}
.seperator{
    border: none;
    border-bottom: 1px solid #ff1749;
}